// Placeholder for now
// @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#logo-text{
  display: flex;
  font-family: 'Pacifico', cursive;
  margin: 46px;
  text-align: center;
}

#background-flare{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

#contained-button-file{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 17px;
}
// @media only screen and (max-width: 515px){
// }