@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#logo-text{
  display: flex;
  font-family: 'Pacifico', cursive;
  margin: 46px;
}

#background-flare{
  position: absolute;
  bottom: 0;
}