.success-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  img{
    height:auto;
    width: 75%;
    padding: 23px;
  }
}